@import "tailwindcss";

html {
  font-size: clamp(14px, 1.2vw, 16px);
  scroll-behavior: smooth;
  min-height: 100dvh;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100dvh;
  margin: 0;
  padding: 0;
  font-family: var(--font-geist-sans), sans-serif;
  --color-white: #ffffff;
  --color-black: #2b2b2b;
  --color-main: #32CD32;
  --color-main-fade: #1bc51b;
  --color-main-light: #eaffe6;
  --color-main-drak: #0BDA51;
  --background: #f8f9fb;
  --stroke: #434343;
  --shadow: #e6e6e6;
  --radius-min: 4px;
  --radius-mid: 8px;
  --radius-max: 12px;
}

button {
  cursor: pointer;
}