/* @import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

.form-metadata-container div {
  display: flex;
  align-items: center;
  gap: 10px;
}

h3 {
  margin: 0;
  margin-top: 20px;
}

h4 {
  margin: 0;
}

.question-list-container p {
  margin: 0;
}

.question-item {
  margin: 0;
  margin-bottom: 10px;
}