.loading-container {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.loading-container p {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--color-main);
}